@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0a192f;
}

/* Input field styling */
.search-input {
  width: 0;
  /* Start with 0 width */
  max-width: 300px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  text-align: center;
  /* Rounded corners */
  background: #0a192f;
  color: #ffffff;
  outline: none;
  opacity: 0;
  /* Start hidden */
  transition: width 1s ease-in-out;
  animation: slideIn 0.8s ease forwards;
  animation-delay: 4s;
}

/* Input placeholder color */
.search-input::placeholder {
  color: #ccc;
}

/* Keyframes for slide-in effect */
@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 300px;
    opacity: 1;
  }
}