/* styles.css or your CSS file */
.fadeIn {
    opacity: 0;
    /* Start hidden */
    // transform: translateY(20px);
    /* Start with an offset */
    animation: fadeInUp 1s forwards;
    /* Animation effect */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        // display: block;
        // transform: translateY(0);
        /* End at the original position */
    }
}